<mat-card class="card mat-elevation-z8" *ngIf="!autenticacaoServico.isUserAdmin()">
  <mat-card-header>
    <mat-card-title>Bem vindo, {{currentUserNome}}!</mat-card-title>
    <mat-card-subtitle>Selecione uma opção para registrar sua ocorrência</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-card class="card-ocorrencia">
      <mat-card-header>
      </mat-card-header>
      <img class="img-ocorrencia" mat-card-image src="assets/img/woman-violence.jpg" alt="Mulher vítima de violência">
      <mat-card-content>
        <mat-card-title class="texto-menor" style="margin-top: 1rem;">Maria da penha</mat-card-title>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="registrar-ocorrencia-button">Registrar Ocorrência</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card-ocorrencia">
      <mat-card-header>
      </mat-card-header>
      <img class="img-ocorrencia" mat-card-image src="assets/img/cachorro.jpeg" alt="Cachorro com medo">
      <mat-card-content>
        <mat-card-title class="texto-menor" style="margin-top: 1rem;">Maus-tratos aos animais</mat-card-title>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="registrar-ocorrencia-button">Registrar Ocorrência</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card-ocorrencia">
      <mat-card-header>
      </mat-card-header>
      <img class="img-ocorrencia" mat-card-image src="assets/img/car-crash.jpg" alt="Carro batido">
      <mat-card-content>
        <mat-card-title class="texto-menor" style="margin-top: 1rem;">Acidente de trânsito</mat-card-title>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="registrar-ocorrencia-button">Registrar Ocorrência</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card-ocorrencia">
      <mat-card-header>
      </mat-card-header>
      <img class="img-ocorrencia" mat-card-image src="assets/img/furto.jpg" alt="Homem furtando celular">
      <mat-card-content>
        <mat-card-title class="texto-menor" style="margin-top: 1rem;">Furto</mat-card-title>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="registrar-ocorrencia-button">Registrar Ocorrência</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card-ocorrencia">
      <mat-card-header>
      </mat-card-header>
      <img class="img-ocorrencia" mat-card-image src="assets/img/assalto.jpg" alt="Homem assaltando carro com arma">
      <mat-card-content>
        <mat-card-title class="texto-menor" style="margin-top: 1rem;">Roubo</mat-card-title>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="registrar-ocorrencia-button">Registrar Ocorrência</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card-ocorrencia">
      <mat-card-header>
      </mat-card-header>
      <img class="img-ocorrencia" mat-card-image src="assets/img/assalto.jpg" alt="Homem assaltando carro com arma">
      <mat-card-content>
        <mat-card-title class="texto-menor" style="margin-top: 1rem;">Ameaça</mat-card-title>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="registrar-ocorrencia-button">Registrar Ocorrência</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card-ocorrencia">
      <mat-card-header>
      </mat-card-header>
      <img class="img-ocorrencia" mat-card-image src="assets/img/assalto.jpg" alt="Homem assaltando carro com arma">
      <mat-card-content>
        <mat-card-title class="texto-menor" style="margin-top: 1rem;">Desaparecimento de Pessoa</mat-card-title>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="registrar-ocorrencia-button">Registrar Ocorrência</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card-ocorrencia">
      <mat-card-header>
      </mat-card-header>
      <img class="img-ocorrencia" mat-card-image src="assets/img/assalto.jpg" alt="Homem assaltando carro com arma">
      <mat-card-content>
        <mat-card-title class="texto-menor" style="margin-top: 1rem;">Estelionato, Fraudes ou Apropiações</mat-card-title>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="registrar-ocorrencia-button">Registrar Ocorrência</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card-ocorrencia">
      <mat-card-header>
      </mat-card-header>
      <img class="img-ocorrencia" mat-card-image src="assets/img/assalto.jpg" alt="Homem assaltando carro com arma">
      <mat-card-content>
        <mat-card-title class="texto-menor" style="margin-top: 1rem;">Lesão Corporal</mat-card-title>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="registrar-ocorrencia-button">Registrar Ocorrência</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card-ocorrencia">
      <mat-card-header>
      </mat-card-header>
      <img class="img-ocorrencia" mat-card-image src="assets/img/assalto.jpg" alt="Homem assaltando carro com arma">
      <mat-card-content>
        <mat-card-title class="texto-menor" style="margin-top: 1rem;">Ofenças Raciais</mat-card-title>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="registrar-ocorrencia-button">Registrar Ocorrência</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card-ocorrencia">
      <mat-card-header>
      </mat-card-header>
      <img class="img-ocorrencia" mat-card-image src="assets/img/assalto.jpg" alt="Homem assaltando carro com arma">
      <mat-card-content>
        <mat-card-title class="texto-menor" style="margin-top: 1rem;">Pertubação</mat-card-title>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="registrar-ocorrencia-button">Registrar Ocorrência</button>
      </mat-card-actions>
    </mat-card>
    
    
  </mat-card-content>
</mat-card>


<mat-card class="card mat-elevation-z8" *ngIf="autenticacaoServico.isUserAdmin()">
  <mat-card-header>
    <mat-card-title>Bem vindo, {{currentUserNome}}!</mat-card-title>
    <mat-card-subtitle>Sistema de gerenciamento de ocorrências</mat-card-subtitle>
  </mat-card-header>
  <img class="imgAdmin" mat-card-image src="assets/img/policeHome.svg" alt="Imagem da Home">
  <mat-card-content>
  </mat-card-content>
</mat-card>
