.container{
    width: 55%;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
}

.full-width{
    width: 100%;
}

h1{
    text-align: center;
}

.status-prioridade{
    display: flex;
    justify-content: space-between;
}

.status-prioridade mat-form-field{
    width: 49%;
}

.servidor-Usuario{
    display: flex;
    justify-content: space-between;
}

.servidor-Usuario mat-form-field{
    width: 49%;
    
}

.descricao{
    min-height: 6rem;
    max-height: 10rem;
}

.botoes{
    text-align: center;
}

.botao {
    width: 20%;
    margin: 10px;
}